@import 'bootstrap/scss/functions';
@import 'variables';
@import 'bootstrap/scss/mixins/breakpoints';

.app-notifications {

  max-width: map-get($grid-breakpoints, 'md');
  padding: 24px 18px;
  border-radius: 0;

  @include media-breakpoint-up(sm) {
    padding: 32px 29px;
  }

  @include media-breakpoint-up(md) {
    border-radius: $border-radius-lg;
  }

  &__header {

    margin-bottom: 24px;

    @include media-breakpoint-up(sm) {
      margin-bottom: 32px;
    }

    &__badge {
      margin-left: 10px
    }
  }
}

